/* ############################################################################################
######################################## DEFAULT STYLING ######################################
############################################################################################ */

*{
  font-family: 'Josefin Sans';
  box-sizing: border-box;
}

#SIDEBAR {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px;
  color: white;
}

#TOP {
  background-color: #CCC;
}

#MAIN {
  margin-right: 200px; /* Same as the width of the sidenav */
  padding: 20px;
}

div.bar {
  display: inline-block;
  width: 60px;
  background-color: teal;
}